.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* НАВБАР */

.App .navbar {

}

.nav-buttons {
  display: flex;
  margin-right: 1.5rem;
}

.nav-buttons button {
  margin-left: 1rem;
}


/* РЕГИСТРАЦИЯ */

.auth-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 40px;
  box-sizing: border-box;
}

.auth-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.auth-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.auth-form .MuiFormControl-root,
.auth-form .form-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 350px;
}

.auth-form .MuiFormControl-root {
  background-color: rgba(255, 255, 255, 0.75);
}

.auth-title .auth-title-text {
  color: #222;
  font-weight: 300;
}

.auth-title .auth-off {
  color: rgba(128, 128, 128, 0.3);
  transition: all 0.3s;
}
